*{
  margin: 0;
  padding: 0;
  background-color: #012
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  text-align: center;
  border: 1px solid #efefef;
  width: 25%;
  margin:  10px;
  color: #fff;
}

h1 {
  font-size: 50px;
  color: #fff;
}


h3 {
  font-size: 40px;
  color: #ccff;
}