form {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  
}

input {
  height: 20px;
  background-color: #ccc;
  color: #000;
  margin-right: 10px;

 
}
