body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

input::placeholder, 
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #999999;
  transition: .2s;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;

}

a:hover,
nav button:hover {
  color: #ffff;
}
