form {
  width: 500px;
  margin: 0 auto;
  text-align: left;
 
}

input, textarea, select {
  display: block;
  margin-top: 10px;
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
  margin-bottom: 10px;

}

 input, textarea{
  padding: 5px;

 }
