*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h1{
  align-items: center;
  justify-content: center;
  display: flex;
}

p {
  align-items: center;
  justify-content: center;
  display: flex;
  color: blue;
}

